# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

mysqls

README.md

.idea
.DS_Store

*-lock.json
yarn.lock


server/uploads/*/*.jpg
server/uploads/*/*.png
server/uploads/reports/*.csv

static/docs
static/gallery

scripts
