# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

mysqls

README.md

.idea
.DS_Store

*-lock.json
yarn.lock

server/uploads/*/*.jpg
server/uploads/*/*.png
server/uploads/reports/*.csv
server/uploads/receipts/*
server/e-conf.js
!server/uploads/receipts/readme.md
server/uploads/cvs/*
!server/uploads/cvs/readme.md
server/ssl
server/cronjobs/__*.js

static/docs
static/gallery

__*.txt

scripts
