.top-header {
  background-color: #3b3f58;

  .navbar {
    z-index: 31;

    .navbar-burger {
      color: white;
    }

    .navbar-menu {

      @media screen and (max-width: 1471px) {
        flex-wrap: wrap;
        width: 100%;

        .navbar-start {
          margin-left: auto;
        }

        .navbar-end {
          margin-right: auto;
        }
      }

      .navbar-item {
        color: white;
        background-color: transparent;

        &.prm-timer {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          @media screen and (min-width: 1088px) {
            &:after {
              content: " ";
              position: absolute;
              top: 1rem;
              bottom: 1rem;
              right: 0;
              width: 1px;
              background-color: white;
            }
          }

          &>span {
            color: white;
            text-transform: uppercase;
            font-size: 12px;

            &.timer {
              color: #d7bb6e;

              &.last-mom {
                color: #ff7171;
              }
            }

            &.icon {
              margin-right: 10px;
              height: 35px;
              width: 35px;

              img {
                max-height: 100%;
              }
            }
          }
        }

        &.tot-reg-mem-con {
          position: relative;

          // @media screen and (min-width: 1088px) {
          //   &:after {
          //     content: " ";
          //     position: absolute;
          //     top: 1rem;
          //     bottom: 1rem;
          //     right: 0;
          //     width: 1px;
          //     background-color: white;
          //   }
          // }

          &>span {
            color: white;
            text-transform: uppercase;
            font-size: 14px;

            &.act {
              color: #d7bb6e;
            }
          }
        }

        &.profile_con_nav {
          position: relative;
          padding-left: 10px;
          margin-left: 5px;

          &:before {
            content: " ";
            position: absolute;
            top: 1rem;
            bottom: 1rem;
            left: 0;
            width: 1px;
            background-color: white;
          }

          .navbar-dropdown {
            left: auto;
            right: 0;

            .navbar-item {
              color: #333333;

              &:hover {
                background-color: whitesmoke !important;
              }
            }
          }
        }

        .icon {
          color: #d7bb6e;
        }

        .sm-line {
          height: 50%;
          width: 1px;
          background-color: white;
        }

        .fs-14 {
          font-size: 14px;
        }
      }

      @media screen and (max-width: 1087px) {
        background-color: #3b3f58;
        text-align: center;

        .navbar-item {
          &.profile_con_nav {
            padding-left: 0;
            margin-left: 0;
            display: inline-block;

            &:before {
              content: none;
            }

            &>.navbar-item:first-child {
              display: none;
            }

            .navbar-dropdown {
              .navbar-item {
                color: #d7bb6e;
                display: inline-block;
                border: 1px solid #d7bb6e;
                margin: 5px;

                &:hover {
                  background-color: #38393c !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1087px) {
  .hidden-tablet {
    display: none;
  }
}

.social_icons {
  >.sc_icon {
    display: inline-block;

    a {
      color: #d7bb6e;
      width: 26px;
      text-align: center;
      height: 26px;
      line-height: 23px;
      border: 2px solid #d7bb6e;
      margin: 2px;
      border-radius: 100%;
      display: block;
      font-size: 12px;
    }
  }
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-0 {
  padding: 0;
}

.is-transparent {
  background-color: transparent;
}

.flip-y {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}